*.exe
*.exp
*.lib
*.pdb
*.bin
shuffle

# binaries folder
bin

# engine versions folder
versions

# VS Code settings and configurations
.vscode
.VSCodeCounter

.DS_Store

*.txt
data.pgn